*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#header{
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
    gap: 20%;
    align-items: center;
}
.logo img{
    height: 40px;
}
.links a{
    color: navy;
    text-decoration: none;
    margin: 0px 12px;
    font-size: 19px;
    font-weight: bold;
}
.button button{
    background-color: rgb(22, 22, 207);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 6px 10px;
}
#main{
    display: flex;
    justify-content: space-between;
}
.main-left{
    width: 50%;
    padding: 50px;

}
.main-left h1{
    font-size: 47px;
    color: rgb(34, 34, 34);
    margin-bottom: 30px;
}
.main-left p{
    color: rgb(53, 53, 53);
    font-size: 22px;
    line-height: 33px;
}
.btn br{
    display: none;
}
.btn{
    display: flex;
    gap: 19px;
    padding-top: 50px;
}
.btn-1{
    background-color: orange;
    color: navy ;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
}
.btn-1:hover{
    background-color: rgb(247, 174, 39);
    color: blue;
}
a{
    cursor: pointer;
}
.btn-2{
    color: navy;
    border: 1.5px solid navy;
    border-radius: 15px;
    padding: 12px 25px;
    font-size: 17px;
}
.btn-2:hover{
    color: blue;
    border: 1.5px solid blue;
}
.main-right{
    background-image: url(/images/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48%;
    border-top: 4px solid blue;
    border-left: 10px solid blue;
    padding-left: 50px;
    margin-top: 50px;
}
#herosection{
    background-color: rgb(241, 181, 70);
}
.hero-heading h1{
    font-size: 40px;
    padding: 40px;
}
.hero-boxes{
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 20px;
}
.hero-box{
    width: 430px;
    max-height: max-content;
    padding: 20px;
    border: none;
    background-color: white;
    border-radius: 18px;
    margin: 10px;
}
.stars{
    font-size: 18px;
    color: orange;
    padding-bottom: 19px;
}
.hero-box p{
    font-size: 18px;
    line-height: 24px;
    color: rgb(22, 22, 22);
}
.logos{
    display: flex;
    padding: 30px 20px;
    color: navy;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

}
.logos img{
    height: 70px;
    margin: 0px 15px;
}
.certo-left{
    width: 50%;
    padding: 50px;

}
#certo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.certo-right img{
    
    height: 300px;
    border-right: 10px solid blue;
    border-top: 5px solid blue;
}
.certo-left h1{
    font-size: 47px;
    color: rgb(34, 34, 34);
    margin-bottom: 30px;
}
.certo-left p{
    color: rgb(53, 53, 53);
    font-size: 22px;
    line-height: 33px;
    padding-bottom: 40px;
}
#freedom{
    background-color: rgb(176, 238, 217);
    padding: 30px;
}
.freedom-heading{
    text-align: center;
}
.freedom-boxes-top{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.freedom-boxes{
    margin: 30px 60px;
    background-color: white;
    padding: 40px 0px;
    border-radius: 20px;
}
.box{
    width: 25%;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.box h4{
    line-height: 30px;
}
.box p{
    font-size: 18px;
    line-height: 20px;
    padding: 0px 10px;
}
.freedon-button{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.btn-3{
    background-color: rgb(248, 183, 63);
    color: navy ;
    padding: 13px 29px;
    border-radius: 15px;
    font-size: 17px;
    border: none;
}
.btn-3:hover{
    background-color: rgb(252, 170, 18);
}
.btn-4{
    color: navy;
    border: 1.5px solid navy;
    border-radius: 15px;
    padding: 12px 25px;
    font-size: 17px;
}
.btn-4:hover{
    border: 1.5px solid blue;
    color: blue;
}
#read{
    display: flex;
    justify-content: center;
    padding: 60px 30px;
    gap: 30px;
}
.read-left{
    width: 30%;
    padding: 35px;
    background-color: orange;
    border-radius: 20px;
}
.read-left button{
    padding: 8px 19px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(41, 41, 184);
}
.read-left button:hover{
    background-color: blue;
}
.read-right{
    width: 28%;
    padding: 30px;
}
#read p{
    font-size: 18px;
    line-height: 23px;
}
.read-right button{
    padding: 8px 19px;
    border-radius: 15px;
    border: 2px solid black;
    color: black;
}
.read-right button:hover{
    border: 2px solid gray;
    cursor: pointer;
}
#phone{
    text-align: center;
    background-color: rgb(60, 60, 255);
    color: white;
    padding: 60px 30px;
}
#phone h1{
    line-height: 30px;
}
#phone p{
    line-height: 19px;
    padding-bottom: 20px;
}
#lastest{
    background-color: #F3F8FF;
}
.lastest-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}
.lastest-heading{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
}
.lastest-left{
    width: 22%;
}
.lastest-center{
    width: 22%;
    
}
.lastest-right{
    width: 22%;
    
}
.lastest-left-top{
    background-image: url(/images/img15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lastest-center-top{
    background-image: url(/images/img16.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lastest-right-top{
    background-image: url(/images/img17.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
}
.lastest-right-bottom{
    padding: 30px 20px;
    background-color: white;
}
.lastest-center-bottom{
    background-color: white;
    padding: 30px 20px;
}
.lastest-left-bottom{
    background-color: white;
    padding: 30px 15px 60px;
}
.lastest-left-bottom h2{
    font-size: 20px;
    padding-bottom: 19px;
}
.lastest-left-bottom p{
    font-size: 16px;
}
.lastest-center-bottom h2{
    font-size: 20px;
    padding-bottom: 19px;
}
.lastest-center-bottom p{
    font-size: 16px;
}
.lastest-right-bottom h2{
    font-size: 20px;
    padding-bottom: 20px;
}
.lastest-right-bottom p{
    font-size: 16px;
}
.btn5{
    font-size: 18px;
    border-radius: 15px;
    padding: 6px 25px;
    margin: 10px 0px 0px 10px;
    background-color: white;
    border: none;
}
.lastest-button{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.lastest-button button{
    padding: 10px 24px;
    border-radius: 15px;
    border: none;
    background-color: rgb(247, 178, 51);
    font-size: 18px;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color: navy;
    color: white;
}
.footer-left{
    width: 26%;
    padding: 25px;
}
.footer-center{
    width: 19%;
}
.footer-right{
    width: 44%;
}
.submit-cont{
    display: flex;
    width: 170px;
}
.footer-left i{
    font-size: 27px;
    padding: 20px 0px;
}
.footer-left a{
    color: white;
    gap: 10px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 50px;
    text-underline-offset: 4px;
}
.footer-left p{
    font-size: 15px;

}
.footer-center p{
    color: orange;
    font-size: 19px;
    line-height: 30px;
}





.submit{
    background-color: navy;
    padding: 7px;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.input{
    padding: 7px;
    border: none;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.input input{
    border: none;
}
.footer-right-top{
    background-color: orange;
    padding: 15px;
    width: 280px;
    border-radius: 15px;
    margin: 10px auto;
}
.footer-right-top h4{
    font-size: 19px;
    line-height: 21px;
    padding-bottom: 18px;
}
.footer-right-top p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
}
.footer-right-bottom{
    background-color: white;
    width: 280px;
    height: 120px;
    border-radius: 15px;
    margin-top: 100px;
    margin: 10px auto;

}

@media screen and (max-width: 940px) and (min-width: 750px){
    #header{
        padding: 15px;
        gap: 10%;
    }
    .links a{
        margin: 0px 9px;
        font-size: 18px;
    }
    .main-right{
        padding: 30px;
    }
    .main-left{
        padding: 30px;
    }
    .hero-boxes{
        gap: 5px;
    }
    .certo-left{
        padding: 15px;
    }
    .certo-right{
        padding: 15px;
    }
    .freedom-boxes-top{
        gap: 50px;
    }
    .box{
        width: 30%;
    }


    .freedom-boxes-top{
    gap: 0px;
}
.freedom-boxes{
    margin: 30px 30px;
    background-color: white;
    padding: 30px 0px;
    border-radius: 20px;
}
.box{
    width: 34%;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.freedon-button{
    display: flex;
    gap: 15px;
    justify-content: center;
}
#footer{
    justify-content: none;
}
.freedon-button br{
    display: none;
}

}

@media screen and (max-width: 750px) and (min-width: 620px){
     #header{
        padding: 10px;
        gap: 2%;
    }
    .links a{
        margin: 0px 2px;
        font-size: 18px;
    }
   #main{
    flex-direction: column;
   }
.main-left{
    width: 100%;
}
.main-right{
    width: 100%;
}
.hero-heading{
    text-align: center;
}
.hero-heading br{
    display: none;
}
.hero-boxes{
    flex-direction: column;
    align-items: center;
}
.logos{
    display: flex;
    padding: 30px 20px;
    color: navy;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

}
.read-left{
    width: 49%;
}
.read-right{
    width: 43%;
    padding: 30px;
}
.certo-right{
    display: none;
}
.certo-left{
    width: 100%
}
.lastest-container{
    gap: 5px;
    padding-bottom: 30px;
}
.lastest-left{
    width: 32%;
}
.lastest-center{
    width: 30%;
    
}
.lastest-right{
    width: 30%;
    
}
.lastest-right-bottom{
    padding: 10px 5px;
}
.lastest-center-bottom{
    padding: 20px 5px;
}
.lastest-left-bottom{
    padding: 20px 5px 50px;
}
.lastest-right-bottom p{
    font-size: 16px;
}

#freedom{
    padding: 10px;
}
.freedom-heading{
    text-align: center;
}
.freedom-boxes-top{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.freedom-boxes{
    margin: 30px 10px;
    background-color: white;
    padding: 40px 0px;
    border-radius: 20px;
}
.box{
    width: 30%;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.box h4{
    line-height: 30px;
}
.box p{
    font-size: 17px;
    line-height: 19px;
    padding: 0px 8px;
}
.freedon-button{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer-left{
    width: 40%;
}
.footer-center{
    display: none;
}
}

@media screen and (max-width: 620px) and (min-width: 500px){
     #header{
        padding: 5px;
        gap: 1%;
    }
    .links a{
        margin: 0px 1px;
        font-size: 16px;
    }
    #main{
        flex-direction: column;
    }
    .main-left{
        width: 100%;
    }
    .main-right{
        width: 100%;
    }
    .hero-heading br{
        display: none;
    }
    .hero-boxes{
        flex-direction: column;
        align-items: center;
    }
    #certo{
        flex-direction: column;
        align-items: center;
    }
    .certo-left{
        width: 90%;
        padding: 18px;
    }
    .certo-right{
        width: 80%;
    }
    .freedom-boxes{
        margin: 15px;
    }
    .freedom-boxes-top{
        flex-direction: column;
    }
    .box{
        width: 100%;
    }
    .freedon-button br{
        display: auto;
}
.freedon-button{
    flex-direction: column;
    align-items: center;
}
.btn-3{
    width: fit-content;
}
.btn-4{
    width: fit-content;
}
#read{
    flex-direction: column;
    align-items: center;
}
.read-left{
    width: 80%;
}
.read-right{
    width: 80%;
}
.lastest-container{
    flex-direction: column;
}
.lastest-left{
    width: 80%;
}
.lastest-center{
    width: 80%;
}
.lastest-right{
    width: 80%;
}
#footer{
    flex-wrap: wrap;
}
.footer-left{
    width: 70%;
}
.footer-right{
    width: 60%;
}
.footer-center{
    width: 30%;
}
.footer-right-bottom{
    display: none;
}
}
@media screen and (max-width: 500px) and (min-width: 250px){
    #header{
        padding: 5px;
        gap: 10%;
    }
    .links a{
        display: none;
    }
    #main{
        flex-direction: column;
    }
    .btn{
    flex-direction: column;
    align-items: center;
}
.btn-1{
    width: fit-content;
}
.btn-2{
    width: fit-content;
}
    .main-left{
        width: 100%;
    }
    .main-right{
        width: 100%;
    }
    .hero-heading br{
        display: none;
    }
    .hero-boxes{
        flex-direction: column;
        align-items: center;
    }
    #certo{
        flex-direction: column;
        align-items: center;
    }
    .certo-left{
        width: 90%;
        padding: 18px;
    }
    .certo-right{
        width: 80%;
    }
    .freedom-boxes{
        margin: 15px;
    }
    .freedom-boxes-top{
        flex-direction: column;
    }
    .box{
        width: 100%;
    }
    .freedon-button br{
        display: auto;
}
.freedon-button{
    flex-direction: column;
    align-items: center;
}
.btn-3{
    width: fit-content;
}
.btn-4{
    width: fit-content;
}
#read{
    flex-direction: column;
    align-items: center;
}
.read-left{
    width: 80%;
}
.read-right{
    width: 80%;
}
.lastest-container{
    flex-direction: column;
}
.lastest-left{
    width: 80%;
}
.lastest-center{
    width: 80%;
}
.lastest-right{
    width: 80%;
}
#footer{
    flex-wrap: wrap;
}
.footer-left{
    width: 60%;
}
.footer-right{
    width: 100%;
}
.footer-center{
    width: 30%;
}
.footer-right-bottom{
    display: none;
}
}